<!DOCTYPE html>
<html>
<body>

<h1>this is the page for  creating artists </h1>
<form action="/create_artist" method="POST" enctype="multipart/form-data">
	<input type="text" name="genree" placeholder="Genre">
	<br>
	<input type="text" name="name" placeholder="Artist Name">
	<br>
	<input type="text" name="neforma" placeholder="Info about the artist">
	<br>
	<input type="file" name="hits" placeholder="Artist's greatest hit">
	<br>
	<input type="submit" value="Submit">
</form>





</body>
</html>
